h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#search-results {
    margin: auto;
    text-align: center;
}

#photo-details {
    margin: auto;
    text-align: center;
}

#map {
height: 400px;
width: 50%;
margin: auto;
}