{% extends 'base.html' %}
{% block content %}
<h1>Photo Spots</h1>
<h3>The world's most interesting photos by city!</h3><br><br>

<form class='form' action='/user-login' method='POST'>
  <input type='text' id='fname' name='fname' placeholder='First Name'><br>
  <input type='text' id='lname' name='lname' placeholder='Last Name'><br>
  <input type='text' id='email' name='email' placeholder='Email'><br>
  <input type='text' id='password' name='password' placeholder='Password'>
  <br><br>
  <input type='submit' value='Create Account'>
</form>

{% endblock %}
