{% extends 'base.html' %}
{% block content %}


<h1>Photo Details</h1><br>

<section id="photo-details">

<img src="{{ img_src }}" id="photo-details">
<h3>Latitude: {{ lat }}</h3>
<h3>Longitude: {{ lng }}</h3>
<h3>Locality: {{ locality }}</h3>
<h3>Country: {{ country }}</h3><br>

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 50%;
        margin: auto;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var googleMapsApiKey = "{{ google_maps_api_key }}";
      var scriptSrc = "https://maps.googleapis.com/maps/api/js?key="+googleMapsApiKey+"&callback=initMap";
      function initMap() {
        var uluru = {lat: {{ lat }}, lng: {{ lng }}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src=scriptSrc>
    </script>
    <br><br><br>
  </body>
</html>

</section>


{% endblock %}